/* Seccion que da estilos a los formularios */
.data-form{
    padding: 20px;
    margin: 0 auto;
    background: white;
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3);
    /*  text-align: center; */
}
.form-entry{
    margin: 0 auto;
    padding: 8px;
    text-align: left;
    width:fit-content;
    width: -moz-fit-content;
}
.form-entry p {
    font-size: 20px;
    margin: 3px;
    width: fit-content;
    width: -moz-fit-content;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
.form-entry input, textarea{
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    padding: 2px 15px;
    border-radius: 25px;
    -moz-border-radius: 15px 15px 15px 15px;
    border: 2px solid #05618A;
    height: 2em;
    width: 15em;
    transition: border-radius 0.3s ease-in;
}
.form-entry textarea{
    height: 10em;
    text-justify: newspaper;
    padding-top: 3px;
}
.form-entry input:hover, textarea:hover{
    border-radius: 0 25px 25px 25px;
}
.form-entry input:focus, textarea:hover{
    border-radius: 0 25px 25px 25px;
}
.form-button{
    margin:15px auto;
    width: -moz-fit-content;
    width: fit-content;
}
.btn-submit{
    background: #f1f1f1;
    border: none;
    color: #04162B;
    font-size: 20px;
    padding: 15px 32px;
    text-align: center;
    cursor: pointer;
    border-radius: 25px;
    -moz-border-radius: 15px 15px 15px 15px;
    transition: 0.8s ease-in-out ;
}
.btn-submit:hover{
    background: #04162B;
    color: #f1f1f1;
    transform: rotateX(360deg);
    -moz-box-shadow: 0 7px 15px 3px rgba(0,0,0,0.3);
    box-shadow: 0 7px 15px 3px rgba(0,0,0,0.3);
}

