@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

*{font-family: "Noto Sans", sans-serif;}
.search{
    width: fit-content;
    width: -moz-fit-content;
    margin: 0 auto;
}
.search > form > div{
    display: inline-block;
}
.search > form > button{
    display: inline-block;
    font-size: 18px;
    padding: 2px 15px;
    height: 3em;
    margin: 0;
}
.orden {
    padding: 10px;
    margin: 0 auto;
    width: fit-content;
    width: -moz-fit-content;
}
.orden-a{
    margin: 15px auto;
    font-size: 18px;
    text-decoration: none;
    color: #04162B;
    transition: font-size 0.2s ease-in;
}
.orden-a:hover{
    font-size: 20px;
}
.dropdown-orden {
    right: 0;
    left: 0;
    margin: 0 auto;
    display: none;
    width: fit-content;
    width: -moz-fit-content;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    -moz-box-shadow: 0 7px 30px -2px rgba(0,0,0,0.6);
    box-shadow: 0 7px 30px -2px rgba(0,0,0,0.6);
    z-index: 1;
}
.dropdown-orden a {
    color: #04162B;
    padding: 12px 35px;
    text-decoration: none;
    display: block;
    -moz-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
}
.dropdown-orden a:hover {
    background-color: #05618A;
    color: #f1f1f1;
}
.orden:hover .dropdown-orden{display:block;}

/* Grid para mostrar las Monedas, Modelos o los Proveedores */
.data-grid{
    margin: 25px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 400px);
    grid-gap: 25px;
    grid-auto-flow: row;
    justify-content: space-evenly;
    align-content: space-evenly;
}
.data-item{
    margin: 0 auto;
    padding: 15px;
    width: -moz-fit-content;
    width: fit-content;
    min-width: 369px;
    background: white;
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3);
    -moz-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
}
.data-item a {
    text-decoration: none;
    text-decoration: -moz-none;
}
.data-item h2{
    text-align: center;
    font-family: 'Thasadith', sans-serif;
}
.data-item ul{
    list-style: none;
    padding: 15px;
}
.data-item li {
    color: #04162B;
}
.data-item-label{
    display: inline-block;
}
.data-item-valor{
    float: right;
    display: inline-block;
}
.data-item:hover{
    background-color: #04162B;
    -moz-box-shadow: 0 7px 30px -2px rgba(0,0,0,0.61);
    box-shadow: 0 7px 30px -2px rgba(0,0,0,0.61);
}
.data-item:hover li {
    color: white;
}
.data-item-panel {
    text-align: center;
    padding: 10px 10px 25px;
}
.data-item-panel a{
    margin-left: 20px ;
    margin-right: 20px ;
    color: #04162B;
    font-size: 20px;
}
.btn-item-panel{
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 25px;
    -moz-border-radius: 15px 15px 15px 15px;
    transition: background-color , top, 0.5s ease-in-out ;
}
.data-item:hover .btn-item-panel{
    background-color: #f1f1f1;
}
.btn-item-panel:hover{
    position:relative;
    top: -2px;
    background: #f1f1f1;
    color: #04162B;
    -moz-box-shadow: 0 7px 15px 3px rgba(0,0,0,0.3);
    box-shadow: 0 7px 15px 3px rgba(0,0,0,0.3);
}

#img-coins{
    margin: 20px auto 0;
    width: 45px;
    height: 45px;
    background: url("../images/icons8_Coins_45px_para_fondo_blanco.png");
}
.data-item:hover #img-coins{
    background: url("../images/icons8_Coins_45px_para_fondo_azul.png");
}
#img-models{
    margin: 20px auto 0;
    width: 45px;
    height: 45px;
    background: url("../images/icons8_M_45px_para_fondo_blanco.png");
}
.data-item:hover #img-models{
    background: url("../images/icons8_M_45px_para_fondo_azul.png");
}
#img-providers{
    margin: 20px auto 0;
    width: 45px;
    height: 45px;
    background: url("../images/icons8_Donate_45px_para_fondo_blanco.png");
}
.data-item:hover #img-providers{
    background: url("../images/icons8_Donate_45px_para_fondo_azul.png");
}