@import url('https://fonts.googleapis.com/css?family=Saira+Extra+Condensed');
@import url('https://fonts.googleapis.com/css?family=Thasadith|Cinzel');

/* Barra de titulo */
.title-pane{
    top: 0;
    left: 0;
    position:fixed;
    width: 100%;
    background: #04162B;
    padding: 20px 0;
}
.title{text-align: center;}
.title h1{
    font-size: 36px;
    display: inline-block;
    color: #f1f1f1;
    font-family: 'Cinzel', serif;
}
#img-logo{
    display: inline-block;
    position: relative;
    top: 12px;
}
.title h2{
    display: inline-block;
    color: whitesmoke;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: xx-large;
    margin: 0;
    padding: 0;
}
.title-dark{
    text-align: center;
    width: 100%;
}
.title-dark h1{
    color: #04162B;
    font-family: 'Cinzel', serif;
}