@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

/* Barra de navegacion para alternar entra las diferentes páginas */
.nav {
    font-family: "Noto Sans", sans-serif;
    position:fixed;
    width: 100%;
    background: #f1f1f1;
    top: 136px;
    left: 0;
    -moz-box-shadow: 0 7px 30px -2px rgba(0,0,0,0.61);
    box-shadow: 0 7px 30px -2px rgba(0,0,0,0.61);
}
.nav-buttons{
    float: left;
    margin: 15px;
}
.nav-add{
    float: right;
    margin: 15px;
}
.nav-button{
    background: #f1f1f1;
    color: #04162B;
    text-decoration: none;
    margin: 5px 5px;
}

#btn_coins, #btn_models, #btn_providers{
    padding: 8px;
    align-items: center;
    display: inline-block;
}
#btn_coins:before{
    content: "";
    position: absolute;
    width: 82px;
    height: 3px;
    bottom: 20px;
    left: 24px;
    background: #05618A;
    transform: scaleX(0);
    transition: .15s linear;
}
#btn_models:before{
    content: "";
    position: absolute;
    width: 74px;
    height: 3px;
    bottom: 20px;
    left: 124px;
    background: #05618A;
    transform: scaleX(0);
    transition: .15s linear;
}
#btn_providers:before{
    content: "";
    position: absolute;
    width: 100px;
    height: 3px;
    bottom: 20px;
    left: 220px;
    background: #05618A;
    transform: scaleX(0);
    transition: .15s linear;
}
#btn_coins:hover:before, #btn_models:hover:before, #btn_providers:hover:before{
    visibility: visible;
    transform: scaleX(1);
}

/* Keyframes de los botones del menú */
@keyframes hover-v {
    0% {
        transform: scaleX(0);
        height: 5px;
    }
    50% {
        transform: scaleX(1.05);
        height: 5px;
    }
    100% {
        transform: scaleX(1.05);
        height: 3.8rem;
    }
}
@keyframes no-hover-v {
    0% {
        transform: scaleX(1.05);
        height: 3.8rem;
    }
    50% {
        transform: scaleX(1.05);
        height: 5px;
        opacity: 1;
    }
    100% {
        transform: scaleX(0);
        height: 5px;
        opacity: .02;
    }
}

#btn_add {
    position:relative;
    top: 7px;
}
#btn_add > img {
    transition: .5s all;
}
#btn_add > img:hover {
    transform: rotate(180deg);
}

.dropdown-content {
    right: 0;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    -moz-box-shadow: 0 7px 30px -2px rgba(0,0,0,0.6);
    box-shadow: 0 7px 30px -2px rgba(0,0,0,0.6);
    z-index: 1;
}
.dropdown-content a {
    color: #04162B;
    padding: 12px 35px;
    text-decoration: none;
    display: block;
    -moz-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
}
.dropdown-content a:hover {
    background-color: #05618A;
    color: #f1f1f1;
}
.nav-add:hover .dropdown-content {display: block;}