<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Explorer Database</title>
    <link rel="stylesheet" type="text/css" href="../static/css/general_style.css" th:href="@{'css/general_style.css'}">
    <link rel="stylesheet" href="../static/css/header_style.css" th:href="@{'css/header_style.css'}">
    <link rel="stylesheet" href="../static/css/nav_style.css" th:href="@{'css/nav_style.css'}">
    <link rel="stylesheet" href="../static/css/data_explorer_style.css" th:href="@{'css/data_explorer_style.css'}">
    <link rel="stylesheet" href="../static/css/data_input_form_style.css" th:href="@{'css/data_input_form_style.css'}">
<body>
    <div class="title-pane">
        <div class="title">
            <a href="/">
                <h1>Museum's</h1>
                <img id="img-logo" src="../static/images/icon_Database_50px.png" th:src="@{'images/icon_Database_50px.png'}" alt="">
                <h2>Database</h2>
            </a>
        </div>
    </div>
    <div class="nav">
        <div class="nav-buttons">
            <a class="nav-button" id="btn_coins" href="/coins">Monedas</a>
            <a class="nav-button" id="btn_models" href="/models">Modelos</a>
            <a class="nav-button" id="btn_providers" href="/providers">Proveedores</a>
        </div>
        <div class="nav-add">
            <a class="nav-button" id="btn_add" href="">
                <img src="../static/images/iconadd.png" th:src="@{'images/iconadd.png'}" alt="">
            </a>
            <div class="dropdown-content" id="dropdown-new">
                <a href="/new_coin">Nueva Moneda</a>
                <a href="/new_model">Nuevo Modelo</a>
                <a href="/new_provider">Nuevo Proveedor</a>
            </div>
        </div>
    </div>
    <div class="data">
        <div th:if="${selection =='main'}">
            <div class="presentation">
                <div class="img-include">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1278 205.12">
                        <defs>
                            <style>.cls-1{fill:#04162B;}.cls-2{fill:#04162B;}.cls-3{fill:#05618A;}</style>
                        </defs>
                        <title>includeAzul</title>
                        <g id="Capa_2" data-name="Capa 2">
                            <g id="Capa_1-2" data-name="Capa 1">
                                <g id="_Grupo_" data-name="&lt;Grupo&gt;">
                                    <path class="cls-1" d="M1278,126.23h-94.67l22.32-22.32,33.47-33.47,11.15-11.15A94.34,94.34,0,0,1,1278,126.23Z"/>
                                    <path class="cls-2" d="M1210.65,142h50a77.93,77.93,0,0,1-5,15.78A78.85,78.85,0,0,1,1127.57,182a77,77,0,0,1-8.91-10.6,78.16,78.16,0,0,1-7.64-13.61c-.18-.38-.33-.79-.49-1.17l39.13-16.32,1-.44,3.5-1.47a29.79,29.79,0,0,0,3.37,6,30,30,0,0,0,7.56,7.56,31.5,31.5,0,0,0,45.51-10Z"/>
                                    <path class="cls-3" d="M1239.12,70.44l-33.47,33.47a31.56,31.56,0,0,0-51.44,34.47l-3.5,1.47-1,.44-39.13,16.32a76.22,76.22,0,0,1-4.91-16.81,78.9,78.9,0,0,1,133.5-69.36Z"/>
                                    <path class="cls-3" d="M1041.33,126.23v78.89H994v-6.58a78.84,78.84,0,0,0,47.33-72.31Z"/>
                                    <path class="cls-2" d="M1041.33,0V126.23a78.89,78.89,0,0,1-151.2,31.55h72.31A31.56,31.56,0,0,0,994,126.23V0Z"/>
                                    <path class="cls-3" d="M994,126.23a31.56,31.56,0,1,0-31.56,31.55H890.13A78.92,78.92,0,0,1,994,53.91"/>
                                    <path class="cls-2" d="M773.11,198.54V47.34h47.33v78.89a78.84,78.84,0,0,1-47.33,72.31Z"/>
                                    <path class="cls-3" d="M773.11,126.23v72.31a79,79,0,0,1-63.11,0V126.23a31.56,31.56,0,0,0,63.11,0Z"/>
                                    <path class="cls-2" d="M710,126.23v72.31a78.84,78.84,0,0,1-47.33-72.31V47.34H710Z"/>
                                    <rect class="cls-2" x="552.22" width="47.34" height="205.12"/>
                                    <path class="cls-2" d="M487.53,110.45h-50a31.51,31.51,0,0,0-27.32-15.78H337.91a78.9,78.9,0,0,1,149.62,15.78Z"/>
                                    <path class="cls-2" d="M437.54,142h50a78.9,78.9,0,0,1-149.62,15.78h72.31A31.49,31.49,0,0,0,437.54,142Z"/>
                                    <path class="cls-3" d="M337.91,157.78a79,79,0,0,1,0-63.11h72.31a31.56,31.56,0,0,0,0,63.11"/>
                                    <path class="cls-2" d="M268.22,126.23v78.89H220.89V53.91A78.9,78.9,0,0,1,268.22,126.23Z"/>
                                    <path class="cls-3" d="M189.33,47.34a78.74,78.74,0,0,1,31.56,6.57v72.32a31.56,31.56,0,1,0-63.11,0V53.91A78.66,78.66,0,0,1,189.33,47.34Z"/>
                                    <path class="cls-2" d="M157.78,53.91V205.12H110.44V126.23A78.91,78.91,0,0,1,157.78,53.91Z"/>
                                    <rect class="cls-2" y="47.34" width="47.33" height="157.78"/>
                                </g>
                            </g>
                        </g>
                    </svg>
                </div>
                <div class="members">
                    <h1>David Correas Oliver</h1>
                    <h2>&bull;</h2>
                    <h1>Alejandro Quesada Mendo</h1>
                    <h2>&bull;</h2>
                    <h1>Jose Miguel Zamora Batista</h1>
                </div>
                <h1>Práctica de Sistemas Distribuidos GII+GIC</h1>
            </div>

        </div>

        <div th:if="${selection == 'coins'}">
            <div class="title-dark">
                <h1 th:text="'Monedas'"></h1>
            </div>
            <div class="data-form">
                <div class="search">
                    <form action="/search_coin">
                        <div class="form-entry">
                            <input type="text" name="search" required placeholder="Introduce algo..."/>
                        </div>
                        <button class="btn-submit" type="submit">Buscar</button>
                    </form>
                </div>
                <div class="orden">
                    <a class="orden-a" href="">Ordenar</a>
                    <div class="dropdown-orden">
                        <a th:href="'/sort_coin='+ ${T(com.example.demo.Classes.Coin.SortCoin).PROVIDER}">Por nombre de proveedor(A-Z)</a>
                        <a th:href="'/sort_coin='+ ${T(com.example.demo.Classes.Coin.SortCoin).YEAR}">Por Año</a>
                        <a th:href="'/sort_coin='+ ${T(com.example.demo.Classes.Coin.SortCoin).COINAGE_CITY}">Por cuidad de acuñación</a>
                        <a th:href="'/sort_coin='+ ${T(com.example.demo.Classes.Coin.SortCoin).CONSERVATION}">Por estado de conservación</a>
                        <a th:href="'/sort_coin='+ ${T(com.example.demo.Classes.Coin.SortCoin).ACQUISITION_DATE}">Por Fecha de adquisición</a>
                    </div>
                </div>
                <div class="data-grid">
                    <div class="data-item" th:each="coin : ${coins} ">
                        <div id="img-coins"></div>
                        <ul>
                            <li>
                                <span class="data-item-label" th:text="'Id:'"></span>
                                <span class="data-item-valor" th:text="${coin.id}"></span>
                            </li>
                            <li>
                                <span class="data-item-label" th:text="'Modelo:'"></span>
                                <span class="data-item-valor" th:text="${coin.type.getValue()}"></span>
                            </li>
                            <li>
                                <span class="data-item-label" th:text="'Año:'"></span>
                                <span class="data-item-valor" th:text="${coin.year}"></span>
                            </li>
                            <li>
                                <span class="data-item-label" th:text="'Lugar de acuñación:'"></span>
                                <span class="data-item-valor" th:text="${coin.coinageCity}"></span>
                            </li>
                            <li>
                                <span class="data-item-label" th:text="'Fecha de Adquisición:'"></span>
                                <span class="data-item-valor" th:text="${coin.acquisitionDate}"></span>
                            </li>
                            <li>
                                <span class="data-item-label" th:text="'Estado:'"></span>
                                <span class="data-item-valor" th:text="${coin.conservation}"></span>
                            </li>
                            <li>
                                <span class="data-item-label" th:text="'Proveedor:'"></span>
                                <span class="data-item-valor" th:text="${coin.provider.getName()}"></span>
                            </li>
                        </ul>
                        <div class="data-item-panel">
                            <a class="btn-item-panel" th:href="'/edit_coin='+ ${coin.id}">Editar</a>
                            <a class="btn-item-panel" th:href="'/delete_coin='+ ${coin.id}">Borrar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:if="${selection == 'types'}">
            <div class="title-dark">
                <h1 th:text="'Modelos'"></h1>
            </div>
            <div class="data-form">
                <div class="search">
                    <form action="/search_type">
                        <div class="form-entry">
                            <input type="text" name="search" required placeholder="Introduce algo..."/>
                        </div>
                        <button class="btn-submit" type="submit">Buscar</button>
                    </form>
                </div>
                <div class="orden">
                    <a  class="orden-a" href="">Ordenar</a>
                    <div class="dropdown-orden">
                        <a th:href="'/sort_type='+ ${T(com.example.demo.Classes.Type.SortType).VALUE}">Por valor</a>
                        <a th:href="'/sort_type='+ ${T(com.example.demo.Classes.Type.SortType).MONETARY_UNIT}">Por u. monetaria</a>
                        <a th:href="'/sort_type='+ ${T(com.example.demo.Classes.Type.SortType).DIAMETER}">Por diametro</a>
                        <a th:href="'/sort_type='+ ${T(com.example.demo.Classes.Type.SortType).WEIGHT}">Por peso</a>
                        <a th:href="'/sort_type='+ ${T(com.example.demo.Classes.Type.SortType).METALS}">Por metales</a>
                    </div>
                </div>
                <div class="data-grid">
                    <div class="data-item" th:each="type : ${types} ">
                        <div id="img-models"></div>
                        <ul>
                            <li>
                                <span class="data-item-label" th:text="'Id:'"></span>
                                <span class="data-item-valor" th:text="${type.getId()}"></span>
                            </li>
                            <li>
                                <span class="data-item-label" th:text="'Valor:'"></span>
                                <span class="data-item-valor" th:text="${type.getValue()}"></span>
                            </li>
                            <li>
                                <span class="data-item-label" th:text="'Unidad Monetaria:'"></span>
                                <span class="data-item-valor" th:text="${type.getMonetaryUnit()}"></span>
                            </li>
                            <li>
                                <span class="data-item-label" th:text="'Diámetro:'"></span>
                                <span class="data-item-valor" th:text="${type.getDiameter()}"></span>
                            </li>
                            <li>
                                <span class="data-item-label" th:text="'Peso:'"></span>
                                <span class="data-item-valor" th:text="${type.getWeight()}"></span>
                            </li>
                            <li>
                                <span class="data-item-label" th:text="'Metals:'"></span>
                                <span class="data-item-valor" th:text="${type.getMetals()}"></span>
                            </li>
                            <li>
                                <span class="data-item-label" th:text="'Descripción:'"></span>
                                <br>
                                <blockquote th:text="'&quot'+ ${type.getDescription()} + '&quot'"></blockquote>
                            </li>
                        </ul>
                        <div class="data-item-panel">
                            <a class="btn-item-panel" th:href="'/edit_model='+ ${type.getId()}">Editar</a>
                            <a class="btn-item-panel" th:href="'/delete_model='+ ${type.getId()}">Borrar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:if="${selection == 'providers'}">
            <div class="title-dark">
                <h1 th:text="'Proveedores'"></h1>
            </div>
            <div class="data-form">
                <div class="search">
                    <form action="/search_provider">
                        <div class="form-entry">
                            <input type="text" name="search" required placeholder="Introduce algo..."/>
                        </div>
                        <button class="btn-submit" type="submit">Buscar</button>
                    </form>
                </div>
                <div class="orden">
                    <a class="orden-a" href="">Ordenar</a>
                    <div class="dropdown-orden">
                        <a th:href="'/sort_provider='+ ${T(com.example.demo.Classes.Provider.SortProvider).CIF}">Por DNI</a>
                        <a th:href="'/sort_provider='+ ${T(com.example.demo.Classes.Provider.SortProvider).NAME}">Por nombre</a>
                        <a th:href="'/sort_provider='+ ${T(com.example.demo.Classes.Provider.SortProvider).ADDRESS}">Por dirección</a>
                        <a th:href="'/sort_provider='+ ${T(com.example.demo.Classes.Provider.SortProvider).EMAIL}">Por email</a>
                        <a th:href="'/sort_provider='+ ${T(com.example.demo.Classes.Provider.SortProvider).PHONE}">Por teléfono</a>
                    </div>
                </div>
                <div class="data-grid">
                    <div class="data-item" th:each="provider : ${providers} ">
                        <div id="img-providers"></div>
                        <ul>
                            <li>
                                <span class="data-item-label" th:text="'DNI:'"></span>
                                <span class="data-item-valor" th:text="${provider.getCif()}"></span>
                            </li>
                            <li>
                                <span class="data-item-label" th:text="'Nombre:'"></span>
                                <span class="data-item-valor" th:text="${provider.getName()}"></span>
                            </li>
                            <li>
                                <span class="data-item-label" th:text="'Dirección:'"></span>
                                <span class="data-item-valor" th:text="${provider.getAddress()}"></span>
                            </li>
                            <li>
                                <span class="data-item-label" th:text="'E-mail:'"></span>
                                <span class="data-item-valor" th:text="${provider.getEmail()}"></span>
                            </li>
                            <li>
                                <span class="data-item-label" th:text="'Teléfono:'"></span>
                                <span class="data-item-valor" th:text="${provider.getPhone()}"></span>
                            </li>
                        </ul>
                        <div class="data-item-panel">
                            <a class="btn-item-panel" th:href="'/edit_provider='+ ${provider.getCif()}">Editar</a>
                            <a class="btn-item-panel" th:href="'/delete_provider='+ ${provider.getCif()}">Borrar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>&copy;2019, Include Services</footer>
</body>
</html>