<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:title="'New' + ${selection}"></title>
    <link rel="stylesheet" type="text/css" href="../static/css/general_style.css" th:href="@{'css/general_style.css'}">
    <link rel="stylesheet" href="../static/css/header_style.css" th:href="@{'css/header_style.css'}">
    <link rel="stylesheet" href="../static/css/nav_style.css" th:href="@{'css/nav_style.css'}">
    <link rel="stylesheet" href="../static/css/data_input_form_style.css" th:href="@{'css/data_input_form_style.css'}">
</head>
<body onload="f()">
    <div class="title-pane">
        <div class="title">
            <a href="/">
                <h1>Museum's</h1>
                <img id="img-logo" src="../static/images/icon_Database_50px.png" th:src="@{'images/icon_Database_50px.png'}" alt="">
                <h2>Database</h2>
            </a>
        </div>
    </div>

    <div class="nav">
        <div class="nav-buttons">
            <a class="nav-button" id="btn_coins" href="/coins">Monedas</a>
            <a class="nav-button" id="btn_models" href="/models">Modelos</a>
            <a class="nav-button" id="btn_providers" href="/providers">Proveedores</a>
        </div>
        <div class="nav-add">
            <a class="nav-button" id="btn_add" href="">
                <img src="../static/images/iconadd.png" th:src="@{'images/iconadd.png'}" alt="">
            </a>
            <div class="dropdown-content">
                <a href="/new_coin">Nueva Moneda</a>
                <a href="/new_model">Nuevo Modelo</a>
                <a href="/new_provider">Nuevo Proveedor</a>
            </div>
        </div>
    </div>

    <div class="data">
        <div th:if="${selection == 'providers'}">
            <div th:if="${mode == 'create'}">
                <div class="title-dark">
                    <h1 th:text="'Nuevo Proveedor'"></h1>
                </div>
            </div>
            <div th:if="${mode == 'edit'}">
                <div class="title-dark">
                    <h1 th:text="'Editar Proveedor'"></h1>
                </div>
            </div>
            <div class="data-form">
                <form th:action="${mode == 'create'} ? '/save_provider' : '/update_provider='+ ${provider.getCif()}" method="post">
                    <div class="form-entry">
                        <p th:text="'DNI:'"></p>
                        <label>
                            <input type="text" name="cif" th:value="${provider?.getCif()}" required placeholder="Introduce el CIF"/>
                        </label>
                    </div>
                    <div class="form-entry">
                        <p th:text="'Nombre:'"></p>
                        <label>
                            <input type="text" name="name" th:value="${provider?.getName()}" required placeholder="Introduce el nombre"/>
                        </label>
                    </div >
                    <div class="form-entry">
                        <p th:text="'E-mail:'"></p>
                        <label>
                            <input type="email" name="email" th:value="${provider?.getEmail()}" required placeholder="Introduce el e-mail"/>
                        </label>
                    </div>
                    <div class="form-entry">
                        <p th:text="'Dirección:'"></p>
                        <label>
                            <input type="text" name="address" th:value="${provider?.getAddress()}" required placeholder="Introduce la dirección"/>
                        </label>
                    </div>
                    <div class="form-entry">
                        <p th:text="'Teléfono:'"></p>
                        <label>
                            <input type="text" name="phone" th:value="${provider?.getPhone()}" required placeholder="Introduce el teléfono"/>
                        </label>
                    </div>
                    <div th:if="${mode == 'edit'}">
                        <div class="form-button">
                            <button class="btn-submit" type="submit">Guardar</button>
                        </div>
                    </div>
                    <div th:if="${mode == 'create'}">
                        <div class="form-button">
                            <button class="btn-submit" type="submit">Crear</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div th:if="${selection == 'coins'}">
            <div th:if="${mode == 'create'}">
                <div class="title-dark">
                    <h1 th:text="'Nueva Moneda'"></h1>
                </div>
            </div>
            <div th:if="${mode == 'edit'}">
                <div class="title-dark">
                    <h1 th:text="'Editar Moneda'"></h1>
                </div>
            </div>
            <div class="data-form" >
                <form th:action="${mode == 'create'} ? '/save_coin' : '/update_coin='+ ${Coin.getId()}" method="post" autocomplete="off">
                    <div class="form-entry">
                        <p th:text="'Año:'"></p>
                        <label>
                            <input type="number" min=0 max="999999999" name="year" th:value="${Coin?.getYear()}" required placeholder="Introduce un año"/>
                        </label>
                    </div>
                    <div class="form-entry">
                        <p th:text="'Lugar de acuñación:'"></p>
                        <label>
                            <input type="text" name="coinageCity" th:value="${Coin?.getCoinageCity()}" required placeholder="Introduce un lugar"/>
                        </label>
                    </div>
                    <div class="form-entry">
                        <p th:text="'Fecha de Adquisición:'"></p>
                        <label>
                            <input type="date" name="acquisitionDate" onkeydown="return false" th:value="${Coin?.getAcquisitionDate()}" required />
                        </label>
                    </div>
                    <div class="form-entry">
                        <p th:text="'Estado de conservación:'"></p>
                        <label>
                            <input type="text" name="conservation" th:value="${Coin?.getConservation()}" placeholder="Introduce un estado" required/>
                        </label>
                    </div>
                    <div class="form-entry">
                        <p th:text="'Proveedor (CIF):'"></p>
                        <label>
                            <input th:list="providers1" name="provider" th:value="${Coin?.getProvider()?.getCif()}" required placeholder="CIF del proveedor"/>
                            <datalist th:id="providers1">
                                <option th:each="prov : ${providers1}" th:value="${prov.getCif()}">
                            </datalist>
                        </label>
                    </div>
                    <div class="form-entry">
                        <p th:text="'Modelo (Id):'"></p>
                        <label>
                            <input type="number" max="999999999" min="0" th:list="types2" name="type" th:value="${Coin?.getType()?.getId()}" required placeholder="Id de un modelo"/>
                            <datalist th:id="types2">
                                <option th:each="ty : ${types1}" th:value="${ty.getId()}">
                            </datalist>
                        </label>
                    </div>
                    <div th:if="${mode == 'edit'}">
                        <div class="form-button">
                            <button class="btn-submit" type="submit">Guardar</button>
                        </div>
                    </div>
                    <div th:if="${mode == 'create'}">
                        <div class="form-button">
                            <button class="btn-submit" type="submit">Crear</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div th:if="${selection == 'types'}">
            <div th:if="${mode == 'create'}">
                <div class="title-dark">
                    <h1 th:text="'Nuevo Modelo'"></h1>
                </div>
            </div>
            <div th:if="${mode == 'edit'}">
                <div class="title-dark">
                    <h1 th:text="'Editar Modelo'"></h1>
                </div>
            </div>
            <div class="data-form" >
                <form th:action="${mode == 'create'} ? '/save_model' : '/update_model='+ ${type?.getId()}" method="post">

                    <div class="form-entry">
                        <p th:text="'Valor'"></p>
                        <label>
                            <input type="number" min=0 max="999999999" name="value" th:value="${type?.getValue()}" placeholder="Introduce un valor (p.ej: 3)"  required />
                        </label>
                    </div>

                    <div class="form-entry">
                        <p th:text="'Unidad Monetaria'"></p>
                        <label>
                            <input type="text" name="monetaryUnit" th:value="${type?.getMonetaryUnit()}" placeholder="Introduce la unidad (p.ej: euro)"  required />
                        </label>
                    </div>

                    <div class="form-entry">
                        <p th:text="'Peso(g)'"></p>
                        <label>
                            <input type="number" max="999999999" step=".01" min=0 name="weight" th:value="${type?.getWeight()}" required placeholder="Introduce el peso (p.ej: 50)"/>
                        </label>
                    </div>

                    <div class="form-entry">
                        <p th:text="'Diámetro(cm)'"></p>
                        <label>
                            <input type="number" step=".01" min=0 max="999999999" name="diameter" th:value="${type?.getDiameter()}" placeholder="Introduce el peso (p.ej: 50)" required/>
                        </label>
                    </div>

                    <div class="form-entry">
                        <p th:text="'Metals'"></p>
                        <label>
                            <input type="text" name="metals" th:value="${type?.getMetals()}" required placeholder="metal1, metal2"/>
                        </label>
                    </div>

                    <div class="form-entry">
                        <p th:text="'Descripción'"></p>
                        <label>
                        <textarea name="description" id="text-area-descripcion" cols="50"
                                  rows="8" placeholder="Opcional" th:inline="text">[[${descripcion}]]</textarea>
                        </label>
                    </div>

                    <div th:if="${mode == 'edit'}">
                        <div class="form-button">
                            <button class="btn-submit" type="submit">Guardar</button>
                        </div>
                    </div>
                    <div th:if="${mode == 'create'}">
                        <div class="form-button">
                            <button class="btn-submit" type="submit">Crear</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>

    </div>

    <footer>&copy;2019, Include Services</footer>

    <!--suppress ConstantIfStatementJS -->
    <script th:inline="javascript">
        /*<![CDATA[*/
        function f() {
            var message = /*[[${Name}]]*/ '';
            if (/*[[${AlertProvider}]]*/ true) {
                alert("No se encontró el proveedor " + message);
            }
            if (/*[[${AlertType}]]*/ true) {
                alert("No se encontró el modelo " + message);
            }
        }
        /*]]>*/
    </script>
</body>
</html>